<div>
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="group in groups">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="#playersSummary/{{ group.name }}/{{ group.yearOfBirth }}">{{ group.name }}</a></h3>
            </div>
            <div class="panel-body">
              <h5>Year of Birth: {{ group.yearOfBirth }}</h5>
              Football Manager: {{ group.footballManager }}
              <br>
              Hurling Manager: {{ group.hurlingManager }}
              <br><br>
              No. players currently registered: {{ group.numberOfPlayers }}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>