<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Please enter your login details to enter Carraig Og Register</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <h3 class="text-warning" ng-show="loginFailed"><strong>{{ errorMessage }}</strong></h3>
            <h3 class="text-success" ng-show="passwordChanged"><strong>Password Successfully Changed</strong></h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <form ng-submit="submit()" name="loginForm" novalidate>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="checkbox">
                                    <label>
                                        <input  type="checkbox" 
                                                ng-checked="changePasswordMode"
                                                ng-click="toggleChangePasswordMode(loginForm)"
                                                autofocus>
                                        Change Password
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12 form-group" ng-class="{ 'has-error': loginForm.emailAddress.$touched && loginForm.emailAddress.$invalid }">
                                        <input  type="email" 
                                                ng-model="userCredentials.emailAddress"
                                                ng-change="loginFailed = false; passwordChanged = false;"
                                                name="emailAddress"
                                                class="form-control" 
                                                placeholder="Email Address" 
                                                required>
                                        <div class="help-block" ng-messages="loginForm.emailAddress.$error" ng-if="loginForm.emailAddress.$touched && loginForm.emailAddress.$invalid">
                                            <p ng-messages-include="validation-messages.html"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                                        <input  type="password" 
                                                ng-model="userCredentials.password" 
                                                ng-change="loginFailed = false; passwordChanged = false;"
                                                ng-minlength="5"
                                                name="password"
                                                class="form-control" 
                                                placeholder="Password"
                                                maxlength="12"
                                                required>
                                        <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched && loginForm.password.$invalid">
                                            <p ng-messages-include="validation-messages.html"></p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="changePasswordMode">
                                    <div class="row">
                                        <div class="col-md-12 form-group" ng-class="{ 'has-error': loginForm.newPassword.$touched && loginForm.newPassword.$invalid }">
                                            <input  type="password" 
                                                    ng-model="userCredentials.newPassword" 
                                                    ng-minlength="!changePaswordMode && 5"
                                                    ng-required="changePasswordMode"
                                                    name="newPassword"
                                                    class="form-control" 
                                                    placeholder="New Password"
                                                    maxlength="12">
                                            <div class="help-block" ng-messages="loginForm.newPassword.$error" ng-if="loginForm.newPassword.$touched && loginForm.newPassword.$invalid">
                                                <p ng-messages-include="validation-messages.html"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group" ng-class="{ 'has-error': loginForm.passwordConfirm.$touched && loginForm.passwordConfirm.$invalid }">
                                            <input  type="password" 
                                                    ng-model="userCredentials.passwordConfirm" 
                                                    name="passwordConfirm"
                                                    class="form-control"
                                                    maxlength="12"
                                                    placeholder="Confirm New Password"
                                                    ng-required="changePasswordMode",
                                                    password-confirm="userCredentials.newPassword">
                                            <div class="help-block" ng-messages="loginForm.passwordConfirm.$error" ng-if="loginForm.passwordConfirm.$touched && loginForm.passwordConfirm.$invalid">
                                                <p ng-messages-include="validation-messages.html"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-12 form-group">
                                        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">{{ changePasswordMode && "Change Pasword" || "Sign In" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>