a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.card-header.bg-thumbnail-info {
  background-color: #8bd1db;
}

.card-header.bg-thumbnail-warning {
  background-color: #ffc15f;
}

.card-footer.bg-thumbnail-info {
  background-color: #c5e8ed;
}

.card-footer.bg-thumbnail-warning {
  background-color: #f9e3c1;
}
