<!-- Most id's are used for unit testing -->
<header class="navbar navbar-dark navbar-fixed-top navbar-expand-sm mb-3">
  <a class="navbar-brand" routerLink="/groups" (click)="navbarCollapsed = true">Carraig Og Register</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a id="administration-menu" [style.display]="authorizationService.getPayload?.userProfile.isAdministrator ? 'inline': 'none'" ngbDropdownToggle class="nav-link dropdown-toggle">Admin</a>
        <div id="administration-dropdown" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/administration/manage-players">Players</a>
          <a class="dropdown-item" routerLink="/administration/manage-coaches">Coaches</a>
        </div>
      </li>
    </ul>
    <ul *ngIf="authorizationService.getPayload" class="navbar-nav ml-auto">
      <li class="nav-item">
          <span id="signed-in-menu" class="navbar-text mr-3" style="color:#FFFFFF">Signed in as - {{ authorizationService.getPayload?.userProfile.fullName }}</span>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle">
          <i class="fa fa-user fa-lg"></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu-right">
          <a id="sign-out-menu" class="dropdown-item" (click)="onClickLogout()" routerLink="#">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</header>
