<div class="mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Welcome to Carraig Og Register</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <h4 *ngIf="!tokenFailed" class="text-center">Please create a Password for</h4>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <p class="text-center">{{ emailAddress }}</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <h3 *ngIf="tokenFailed" id="token-failed-message" class="text-warning"><strong>{{ errorMessage }}</strong></h3>
      <h3 *ngIf="passwordCreated" id="password-created-message" class="text-success"><strong>Password Successfully Created</strong></h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-4 offset-sm-4">
          <form [formGroup]="createPasswordForm" (ngSubmit)="onSubmit(createPasswordForm.value)" novalidate>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input  type="password" 
                            formControlName="password" 
                            class="form-control" 
                            [ngClass]="{'is-invalid': passwordControl.invalid && passwordControl.touched}" 
                            maxlength="12" 
                            placeholder="Password"
                            autofocus>
                    <app-validation-message [control]="passwordControl"></app-validation-message>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input  type="password" 
                            formControlName="confirmPassword" 
                            class="form-control" 
                            [ngClass]="{'is-invalid': confirmPasswordControl.invalid && confirmPasswordControl.touched}" 
                            maxlength="12" 
                            placeholder="Confirm Password">
                    <app-validation-message [control]="confirmPasswordControl"></app-validation-message>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-md-12 form-group">
                    <input  type="submit" 
                            class="btn btn-info" 
                            [disabled]="!emailAddress || createPasswordForm.invalid || creatingPassword"
                            value="Create Password">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<p>Form values: {{ createPasswordForm.value | json }}</p>
<p> Form status: {{ createPasswordForm.status}}</p>
-->
