<div>
    <div class="row text-center">
        <div class="col-lg-12">
            <h2><label class="label label-default">{{ currentSettings.year }} Carraig Og Groups</label></h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="group in groups">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><a ng-href="#{{ group.API }}/{{ group.name }}/{{ group.yearOfBirth }}">{{ group.name }}</a></h3>
                </div>
                <div class="panel-body">
                    <h5><strong>Year of Birth:</strong> {{ group.yearOfBirth }}</h5>
                    <strong>Football Manager:</strong> {{ group.footballManager }}
                    <br>
                    <strong>Hurling Manager:</strong> {{ group.hurlingManager }}
                    <br><br>
                    No. players currently registered: {{ group.numberOfPlayers }}
                    <br><br>
                    Last Updated: {{ group.lastUpdatedDate | date : "dd/MM/yy h:mm a" }}
                </div>
            </div>
        </div>
    </div>
</div>